---
import { getAllMembers } from "~/utils/api";
import { Icon } from 'astro-icon';

const members = await getAllMembers();
---

<section>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 ml-20 mr-20 ">

    {members.map((member) => (
      <div class="bg-white rounded-lg shadow-lg overflow-hidden">
        <div class="flex-shrink-0 h-48 w-full">
          <img class="h-full w-full object-cover object-center" src={member.featuredImage.node.mediaItemUrl} alt={member.featuredImage.node.altText} />
        </div>
        <div class="px-4 py-4">
    
          <h2 class="font-bold text-lg">{member.title}</h2>
          <p class="text-gray-700">{member.fonctions.fonction ? member.fonctions.fonction : ""} - {member.fonctions.equipe}</p>


          <div class="flex mt-4">
            {member.social.facebook && (
              <a href={member.social.facebook} target="_blank" rel="noopener noreferrer">
                <Icon
                      name="tabler:brand-facebook"
                      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-black dark:hover:text-slate-300"
                />
              </a>
            )}
            {member.social.instagram && (
              <a href={member.social.instagram} target="_blank" rel="noopener noreferrer">
                <Icon
                      name="tabler:brand-instagram"
                      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-black dark:hover:text-slate-300"
                />
              </a>
            )}
            {member.social.linkedin && (
              <a href={member.social.linkedin} target="_blank" rel="noopener noreferrer">
                <Icon
                      name="tabler:brand-linkedin"
                      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-black dark:hover:text-slate-300"
                />
              </a>
            )}
            {member.social.twitter && (
              <a href={member.social.twitter} target="_blank" rel="noopener noreferrer">
                <Icon
                      
                      name="tabler:brand-twitter"
                      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-black dark:hover:text-slate-300"
                />
              </a>
            )}
          </div>
        </div>
      </div>
    ))}
  </div>
</section>
